body {
  color: #0f0f;
  background-color: #f00; }
  body h1 {
    font-size: 30px; }

.d1, .d2 {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 1px solid #f50;
  box-shadow: 5px 3px 2px #000;
  text-align: center;
  font-size: 35px;
  padding-top: 50%; }

.d1 {
  float: left; }

.d2 {
  float: right; }

footer {
  background-color: black;
  color: #f50;
  text-align: center; }
