%ele {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 1px solid #f50;
  box-shadow: 5px 3px 2px #000;
  text-align: center;
  font-size: 35px;
  padding-top: 50%;
}
.d1{
  @extend %ele;
  float: left;
}
.d2{
  @extend %ele;
  float: right;
}
